
* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
/* Header Banner Section Start */
.header-banner {
  background-image: url('images/banner/banner3.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.header {
  padding: 130px 100px 130px 600px;
  text-align: right;
}
.header-text {
  font-weight: 700;
  font-size: 35px;
  color: white;
  
}
.header-para {
  color: white;
  padding: 20px 0;
}
.btn-h {
  border:none;
  border-radius: 5px;
  padding: 10px;
  color:#005fac;
}
/* Header Banner Section End* /
/* Main: Content Section Start */
.main-section1 {
  display: flex;
  align-items: center;
  margin:30px 70px;
}
.main-text1 {
  margin: 0 50px;
}
.main-header1 {
  font-weight: 600;
  font-size: 35px;
  color: black;
}
.main-para1 {
  margin: 20px 0;
  font-size: 15px;
}
.list {
  margin-left: -40px;
}
.main-ul {
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  margin: 0;
}
.check {
  color:lightseagreen;
}
/* Main: Content Section End */
/* Main: My course plan section start */
.plan {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 50px 0;
}
.course {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 20px 100px;
}
/* Main: My course plan section end */
/*-- Main: Call Section Start */
.call-section {
  background-image: url('images/watch.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  margin: 80px 130px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(74, 153, 77,1) 0%, rgb(74, 153, 77,0) 100%);
}
.header-call {
  font-weight: 700;
  font-size: 25px;
  color: white;
}
.btn-call {
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}
/*-- Main: Call Section End */
/*-- Main: Personal Blog Section Start */
.personal-blog {
  background-image: url('images/banner/banner2.png');
  background-repeat: no-repeat;
  background-size:cover;
  margin: 20px 130px;
}
.my-blog {
  padding: 10px 10px 10px 240px;
  text-align: justify;
}
#txtarea {
  border-radius: 4px;
  margin-left: 240px;
}
#send-mail {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  margin-left: 240px;
}
.btn-reset-submit {
  margin-left: 240px;
}
#reset, #submit {
  background-color:dodgerblue;
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: green;
}
/*-- Main: Personal Blog Section End */
/* Footer: Future Section Start */
.footer {
  background-color: black;
  color: white;
  margin: 0;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  padding: 80px 135px;
}
.future {
  padding-right: 120px;
}
.footer-heading {
  font-weight: 600;
  font-size: 30px;
}
.footer-para {
  font-size: 15px;
  margin: 20px 0;
}
.icon {
  display: flex;
  justify-content: space-around;
  margin-top:20px;
  margin-right: 270px;
}
#subscribe {
  padding: 12px;
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 30px;
  background-color: black;
}
.subs {
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color:dodgerblue;
}
/* Footer: Future Section End */